extends layout

block content
  .container
    .container-small
      .card
        .img-container
          img.inline-img.quote-img(src="#{name.picture}" alt="#{name.name}")
        div.quote-container
          p.quote "#{id.quote}"
          p.right.italic - #{name.name}
      a#gen-quote.btn.raised-btn.inline-btn(href="/#{rand_name}" + "/" + "#{rand_id}") Generate Quote
